*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

html,body
{
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 1.5;
}

.blue-box{
 height: auto;
 margin: 0 auto;
 background-color: rgb(106,117,136);
}

nav ul{
list-style-type: none;
margin: 0;
padding: 0;
}

nav ul li{
    display: inline;
}

.nav-list{

margin-left: 3%;
text-transform: uppercase;
color: white;
}
nav img { 
  width: 5%; 
  margin-left: 30%;
  margin-top: 20px;
  border-radius: 40%;
}

nav ul li button {
    display:inline-block;
    margin-left: 90%;
    background-color: white;
    color: rgb(106,117,136);;
    border: none;
    padding: .5em;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12%;
    text-transform: uppercase;
    transform: translateY(-25px);
}


h1{
    font-size: 5rem;
    color: white;
    text-align: center;
    margin: 1em 0;  
    font-weight: 400;
    font-style: bold;
    text-transform: uppercase;
}

.blue-box p{
 color: white;
 text-align: center;
 padding-bottom: 1em;
 word-break: break-all;
 padding-bottom: 5em;
 font-size: 1.6rem;
 
}
#blue-p{
    width: 70%;
    position: relative;
    left: 15%;
}
.yubi {
    
    color: white;
    font-weight: 100;
    font-size: 1.4rem ;
    letter-spacing: 2.4px;
    position: relative;
    left: 41%;
}

.fa-2x{
    position: relative;
    right: .4em;
}

.two{
 transform: translateY(3em);
 color: black;
}

h4{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2em;
}
.why{
    text-align: center;
    padding-bottom: 7em;
}
.why div  p{
    width: 35%;
    margin: 0 auto;
    font-size: 1.3rem;
    padding-top: 2%; 
}

.grey-box {
background-color: rgb(219,222,225);
height: 40em;
}

.minione{
    height: 90%;
    width: 50%;  
    
    
}
.minitwo {
    float: right;
    width: 50%;
    height: 90%;
    transform: translateY(-100%);
    
}
.square{
    height: 200px;
    width: 420px;
    margin-left: 20%;
    position: relative;
    top: 15%;
    background-color: rgb(106,117,136);
}
.tittle {
    position: relative;
    left: 36%;
    top: 20%;
    font-size: 1.7rem;
}
.description {
    word-wrap: break-word;
    position: relative;
    left: 21%;
    top: 24%;
    width: 60%;
}
.grey-button{
    position: relative;
    left: 37%;
    top: 29%;
    border: 1px solid rgb(0,0,0,.70);
    height: 50px;
    width: 160px;
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
}

.volunteer{
    height: 28em;
    margin-bottom: 110px;
   
}

h5{
    text-align: center;
    font-size: 2.5rem;
    position: relative;
    top:26%;
    left: 25%;
}
.volunteer p {
    position: relative;
    left: 32%;
    top: 31%;
    width: 29em;
    font-size: 1.4rem;
}

.volunteer button { 
    position: relative;
    left: 43%;
    top: 40%;
    border: 1px solid rgb(0,0,0,.70);
    height: 50px;
    width: 160px;
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    
}

footer{
    background-color: rgb(31,36,46);
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}

.footie {
    transform: translateY(60px);
    color: white;
    width: 300px;
    margin-left: 4%;
   
    
}
.footie-two {
display: inline-block;
color: white;
width: 200px;
position: relative;
transform: translateY(-7.7em);
left: 80%;
}

.fa-brands {
    padding-right: 14px;
}

ul > li {
 list-style: none;
 font-size: 20px;
 cursor: pointer;
}


.footer-links-one {
    transform: translateY(10px);
}

.footer-links-two{
    transform: translateY(30px);

}
hr {
    border: 1px solid white;
    transform: translateY(-130px);
    width: 89%;
    position: relative;
    left: 4em;
    top: 6.5em;
}   

.disclaimer {
    font-size: 18px;
    color: white;
    position: relative;
    left: 3.5em;
    transform: translateY(-10px);
}